target/
zed/target/
zed/grammars/
zed/extension.wasm
vscode/node_modules/
vscode/.vscode-test/
vscode/testFixture/test-output/
temp
sysml-parser/test-logs/
vscode/out/
vscode/media/webview/visualizer.js
vscode/media/webview/visualizer.js.map
internal_docs/
scripts/code-scanning-export/
code-scanning-export/
tmp/
crates/kernel/tests/output/*